<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}bog title{% endblock %}
    {% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>我的博客</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul>
            {% for blog in blogs %}
                <li>{{ blog.title }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>广告</h2>
            <p>学Django：www.baidu.com</p>
            <img width="200px" src="http://www.mrwallpape.com/wallpapers/Fluffy-Cat.jpg">
        </div>
    </div>
    {% endblock %}
</body>
</html>>